*{
    padding: 0;
    margin: 0%;
}
body{
    font-family: sans-serif;
    background-color: gainsboro;
    opacity: 0.8;
 
}
/*Navigation bar */
.navbar {
    height: 64px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list{
    display: flex;
    list-style: none;
    margin-left: 24px;
}
.list h2{
    font-weight: 100;
}
.list_right{
   display: flex; 
   
}

.list_right{

    list-style: none;
}
.list_right li{
    margin-right: 16px;

}
.list_right li a{
    color: black;
text-decoration: none;
}
#signin{
    margin-right: 20px;
}
/*Posting banner image */

.page{
    display: flex;
    align-items: center;
    justify-content: center;
background-color: gray;
background-size: cover;
opacity: 0.9;

}
.image{
    margin-top: 32px ;
    margin-left: 24px;


}
.page .image img{
    padding-bottom: 32px;
width: 100%;
}
.texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
    opacity: 0.7;
  
}
.texts h1{
    font-weight: bolder;
    font-size: 50px;
    padding-bottom: 40px;
    padding-left: 24px;
    padding-right: 35px;
}
.texts h4{
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.button{
    background-color: black;
    font-size: 20px;
    opacity: 0.7;
    width: 400px;
    height: 60px;
    color: white;
    transition: color 1.2s linear;
}
 /*Page 2*/

 .page2{
display: flex;


 }
 .left{
    width: 60%;
    padding-right: 50px;
    background-color: white;
 }
 .left img{
 align-content: center;
padding-top: 32px;
padding-left: 24px;
object-fit: contain;
width: 100%;
float: left;
padding-bottom: 32px;

 }
 .left h1{
    font-size: 45px;
    padding-top: 32px;
padding-left: 24px;
padding-bottom: 24px;
 
 }

 .left p{
    padding-left: 24px;
    width:100%;
    padding-bottom: 30px;
 }
 .author{
padding-left: 24px;
padding-bottom: 32px;
 }
 /*Cards (right side page 2)*/


 .cards{
display: flex;
flex-direction: column;
background-color: white;

 }
 .card{ 
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgb(182, 178, 178);
    
    margin: 1px;
 }
 .card img{
    
    padding-right: 20px;
width: 40%;
 }
 .detail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
 }
 .detail h2{
padding-bottom: 18px;
 }
 .detail a{
    padding-top: 20px;
    padding-right: 100px;
    color: rgb(6, 88, 116);
    text-decoration: none;
 }
 .card span{
    max-width: 240px;
    color: gray;
 }

/*Start learning page*/


.startlearning{
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color:gainsboro;
   
}
.startlearning h1{

    
    padding-top: 32px;
    
}
.small-card img{
    height: auto;
    width: 400px;
}
.small-card h3{
    padding-top: 16px;
    padding-left: 16px;
}
.small-card{
    height: 350px;
  width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
  

    border: 1px solid gray;
    margin-left:32px;
    margin-top: 32px;
}
.small-card span{
    padding-top: 8px;
    padding-left: 16px;
    width: 300px;
}
#learn{
    padding-top: 32px;
    padding-bottom: 32px;
    align-content: center;
    text-align: center;
}
